/* #region common  */

  /* 全てに適用したい継承なしのプロパティは全称セレクタで指定 */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* 継承を利用しない場合は継承ありのプロパティも全称セレクタで指定 */
    color: #000;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
  }
  
  body {
    font-family: "Helvetica Neue","Arial","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
  }

  img {
    vertical-align: bottom;
  }

/* #endregion common  */

/* #region header  */

  header{
    position: fixed;
    width: 100%;
    padding: 8px 32px 7px;
    border-bottom: 1px solid #000;
    background: #fff;
  }

  header .box {
    display: flex;
    align-items: center;
  }

  header .box .menu,
  header .box .close {
    margin-left: auto;
  }

  header .box .close {
    display: none;
  }
  
  header ul {
    display: none;
  }
  
  header li a {
    color: #fff;
  }
  
  @media (max-width: 719px) {
    header ul.show {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 16px;
      margin: 8px auto 0;
      line-height: 28px;
      background: linear-gradient(#173 , 80%, #7b2);
    }
    
    header .box .close.show{
      display: block;
    }
    header .box .menu.hide {
      display: none;
    }
  }
  
/* #endregion header  */

/* #region main */

  main {
    background: #dfd;
  }
  
  main>div {
    width: calc(100% - 32px);
    padding: 48px 16px 0;
    margin: 0 auto;
    background: #fff;
  }

  /* #region hero */

  .hero {
    width: 100%;
    margin: 0 auto;
  }

  .hero img {
    display: block;
    margin: 20px auto 0;
  }

  .hero h1 {
    margin: 20px;
    font-size: 24px;
    text-align: center;
  }

  .hero p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }


  /* #endregion hero */

  /* #region contents */

  .contents {
    width: calc(100% - 32px);
    max-width: 360px;
    padding: 20px 40px;
    margin: 40px auto 20px;
    background: #ccc;
  }

  .contents h2 {
    font-size: 20px;
  }

  .contents ul {
    margin-top: 16px;
    font-size: 16px;
    line-height: 28px;
  }
  /* #endregion contents */

  /* #region section */

  .section {
    padding: 32px 0;
    /* margin-top: 32px; */
  }

  .section h2 {
    font-size: 24px;
    border-bottom: 2px solid #173;
  }

  
  .subsection {
    margin: 20px 0 0 8px;
  }
  
  .subsection h3 {
    font-size: 20px;
  }

  .subsection p {
    margin-top: 8px;
    font-size: 16px;
  }

  /* #endregion section */

/* #endregion main */

/* #region wide_window */

@media (min-width: 720px) {
  header {
    display: flex;
  }

  header .box .menu {
    display: none;
  }

  header ul {
    display: flex;
    padding: 0;
    margin: 0 0 0 auto;
    line-height: 20px;
  }

  header ul li {
    padding: 8px;
    background-color: transparent;
  }

  header li a {
    color: #000;
  }

  .hero br {
    display: none;
  }
}

/* #endregion wide_window */

