/* #region common  */

  /* 継承なしだが全てに適用したいプロパティは全称セレクタで指定 */
  /* 全称セレクタで指定したプロパティは継承より優先されるため */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* ブラウザによる継承を消したい時も全称セレクタで指定 */
    /* サイト内容によってはbodyセレクタで書いた方が効率がよい */
    color: #000;
    list-style: none;
  }

  /* 継承有りのものはbodyで指定 */
  body {
    font-family: "Helvetica Neue","Arial","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
    font-size: 20px;
  }

  img {
    vertical-align: bottom;
  }

/* #endregion common  */

/* #region header  */

  header{
    position: fixed;
    width: 100%;
    padding: 8px 32px 7px;
    border-bottom: 1px solid #000;
    background: #fff;
  }

  header .box {
    display: flex;
    align-items: center;
  }

  header .box .menu,
  header .box .close {
    margin-left: auto;
  }

  header .box .close {
    display: none;
  }
  
  header .box .menu.hide{
    display: none;
  }

  header .box .close.show{
    display: block;
  }

  header ul {
    display: none;
    align-items: center;
    font-size: 16px;
  }
  
  header ul.show {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
    margin: 8px auto 0;
    line-height: 28px;
    background-color: #ccc;
  }

/* #endregion header  */

/* #region main */

  main {
    background: #dfd;
  }
  
  main>div {
    width: calc(100% - 32px);
    padding: 48px 20px 0;
    margin: 0 auto;
    background: #fff;
  }

  /* #region hero */

  .hero {
    width: 100%;
    margin: 0 auto;
  }

  .hero img {
    display: block;
    margin: 20px auto 0;
  }

  .hero h1 {
    margin: 20px;
    font-size: 24px;
    text-align: center;
  }

  .hero p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }


  /* #endregion hero */

  /* #region contents */

  .contents {
    width: calc(100% - 32px);
    max-width: 360px;
    padding: 20px;
    margin: 20px auto;
    background: #ccc;
  }

  .contents h2 {
    font-size: 20px;
  }

  .contents ul {
    margin: 20px;
    font-size: 16px;
    line-height: 28px;
  }
  /* #endregion contents */

  /* #region section */

  .section {
    padding: 32px 0;
    /* margin-top: 32px; */
  }

  .section h2 {
    font-size: 24px;
  }

  
  .subsection {
    margin-top: 20px;
  }
  
  .subsection h3 {
    font-size: 20px;
  }

  .subsection p {
    margin-top: 8px;
    font-size: 16px;
  }

  /* #endregion section */

/* #endregion main */

/* #region wide_window */

@media (min-width: 724px) {
  header {
    display: flex;
  }

  header .box .menu {
    display: none;
  }

  header ul {
    display: flex;
    padding: 0;
    margin: 0 0 0 auto;
    line-height: 20px;
  }

  header ul li {
    padding: 8px;
    background-color: transparent;
  }
}

/* #endregion wide_window */

